cloudflare_email: EMAIL
cloudflare_api_token: TOKEN
cloudflare_zone: YOUR_DOMAIN
cloudflare_domain: "*.YOUR_DOMAIN"
letsencrypt_email: EMAIL
glusterfs_admin_key: RANDOM_PASSWORD
glusterfs_user_key: ANOTHER_RANDOM_PASSWORD
ingress_domain: YOUR_DOMAIN
ingress_nginx_static_ip: 192.168.1.51
ingress_openvpn_static_ip: 192.168.1.50
unifi_username: UNIFI_USERNAME
unifi_password: UNIFI_PASSWORD
backup_provider: gcp
backup_bucket: GCP_BUCKET
backup_volumes_bucket: ANOTHER_GCP_BUCKET
# create a service account with full access to the two backup buckets
backup_credentials: |
  {
    "type": "service_account",
    ...
  }
