# CloudFlare credentials will be used to manage DNS records
# requires CloudFlare account and a registered domain
cloudflare_email: EMAIL
cloudflare_api_token: TOKEN
cloudflare_zone: YOUR_DOMAIN
cloudflare_domain: "*.YOUR_DOMAIN"

# Let's Encrypt used to generate TLS certificates
letsencrypt_email: EMAIL
# during initial testing uncomment this line to avoid getting rate limited
# the staging server has higher rate limits but the certificates will not be trusted
# letsencrypt_server: https://acme-staging-v02.api.letsencrypt.org/directory

# Generate random passwords to storage cluster
glusterfs_admin_key: RANDOM_PASSWORD
glusterfs_user_key: ANOTHER_RANDOM_PASSWORD

# Options for Nginx ingress controller
ingress_domain: YOUR_DOMAIN
ingress_nginx_static_ip: 192.168.1.51
ingress_openvpn_static_ip: 192.168.1.50

# Credentials for Unifi Controller
unifi_username: UNIFI_USERNAME
unifi_password: UNIFI_PASSWORD

# Credentials for automated backups
backup_provider: gcp
backup_bucket: GCP_BUCKET
backup_volumes_bucket: ANOTHER_GCP_BUCKET
# create a service account with full access to the two backup buckets
backup_credentials: |
  {
    "type": "service_account",
    ...
  }
# uncomment when restoring entire cluster from a backup
# backup_restore_only_mode: true
